<p-table [(selection)]="selectedRow" [columns]="fields" [dataKey]="dataSortKey" [multiSortMeta]="multiSortMeta" [paginator]="true"
         [rows]="10" [value]="_dataList" responsiveLayout="scroll" selectionMode="single" sortMode="multiple"
         styleClass="sticky-table p-datatable-striped p-datatable-gridlines">
  <ng-template pTemplate="header" let-fields >
    <tr>
      <th *ngFor="let field of fields" [pSortableColumn]="field.field" [style.max-width.px]="field.width"
          [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
        {{field.headerTranslated}}
        <p-sortIcon [field]="field.field"></p-sortIcon>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-columns="fields" let-el>
    <tr [pSelectableRow]="el">
      <ng-container *ngFor="let field of fields">
        <td *ngIf="field.visible" [ngClass]="(field.dataType===DataType.Numeric || field.dataType===DataType.DateTimeNumeric
                || field.dataType===DataType.NumericInteger)? 'text-right': ''"
            [style.max-width.px]="field.width"
            [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
          <ng-container [ngSwitch]="field.templateName">
            <ng-container *ngSwitchCase="'icon'">
              <svg-icon [name]="getValueByPath(el, field)"
                        [svgStyle]="{ 'width.px':14, 'height.px':14 }"></svg-icon>
            </ng-container>
            <ng-container *ngSwitchDefault>
              {{getValueByPath(el, field)}}
            </ng-container>
          </ng-container>
        </td>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template let-state pTemplate="paginatorleft">
    {{_dataList.length}} {{maxRowMessageKey | translate}} {{maxRows}}
  </ng-template>
</p-table>


<button (click)="onClickDelete()" [disabled]="!selectedRow" class="btn btn-primary mr-1" label="{{ 'DELETE' | translate }}"
        pButton
        type="button"></button>
<button (click)="onClickEdit()" [disabled]="!selectedRow" class="btn btn-primary" label="{{ 'EDIT' | translate }}"
        pButton
        type="button"></button>



