<div #cmDiv (click)="onComponentClick($event)" (contextmenu)="onRightClick($event)"
     [ngClass]=" {'active-border': isActivated(), 'passiv-border': !isActivated()}" class="data-container">
  <p-panel>
    @if (titleKey) {
      <p-header>
        <h4>{{titleKey | translate}}</h4>
      </p-header>
    }

    <label class="small-padding control-label" for="idYearSelect">{{'YEAR' | translate}}</label>
    <p-select (onChange)="yearChanged($event)" [(ngModel)]="selectedYear" [disabled]="addRemoveDaysMap.size > 0"
              [options]="possibleYears" id="idYearSelect">
    </p-select>
    <ng-fullyearcalendar-lib (daySelect)="onDaySelect($event)" [locale]="locale" [underline]="underline"
                             [yearCalendarData]="yearCalendarData"></ng-fullyearcalendar-lib>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-widget-content flexRight">
        @if (containsYear(yearCalendarData.year - 1)) {
          <p-button (click)="addMinusYear(-1)" [disabled]="addRemoveDaysMap.size > 0"
                    class="btn">
            <i class="pi pi-angle-left"></i>
            {{yearCalendarData.year-1}}
          </p-button>
        }

        @if (containsYear(yearCalendarData.year + 1)) {
          <p-button (click)="addMinusYear(1)" [disabled]="addRemoveDaysMap.size > 0"
                    class="btn">
            {{yearCalendarData.year+1}}
            <i class="pi pi-angle-right"></i>
          </p-button>
        }

        @if (hasRightsToModify()) {
          <p-button (click)="submit()" [disabled]="addRemoveDaysMap.size === 0"
                    class="btn">
            <i class="pi pi-save"></i>
            {{'SAVE' | translate }}
          </p-button>
        }
      </div>
    </p-footer>
  </p-panel>
  <p-contextMenu #contextMenu [model]="contextMenuItems" [target]="cmDiv" appendTo="body">
  </p-contextMenu>
</div>
