datetime=Datum
order=Order
transType=Transaktion
symbol=Symbol
sn=Name
isin=ISIN
units=Anzahl
quotation=Kurs
ac=Marchzinsen
tc1=Kosten
tt1=Steuern
cin=Titelwährung
ta=Nettobetrag
cac=Währung
cex=Wechselkurs
sf1=Marker
[END]
templateId=2
delimiterField=;
dateFormat=dd.MM.yyyy HH:mm
transType=ACCUMULATE|Kauf
transType=REDUCE|Verkauf
transType=DIVIDEND|Dividende
transType=FEE|Gebühr
transType=INTEREST_CASHACCOUNT|Zins
transType=DEPOSIT|Einzahlung
transType=WITHDRAWAL|Auszahlung
transType=FINANCE_COST|Finanzierungskosten
overRuleSeparators=All<'|.>
calcRounding=0.05,JPY=1
ignoreLineByFieldValue=sf1||MARGIN
templatePurpose=Grafioschtrader Transaktionsexport (deutsch)
