TRANSACTION RECEIPT Grafioschtrader
Customer Mustermann
Securities account Sampledepot
Cash account Sampleaccount
{transType|P|N} Reference: GT-00000000
Date {date|P} Time {time|P}
Sample Security Inc ISIN: {isin|P}
Commission {tc1|SL|N|O}
Taxes and duties {tt1|SL|N|O}
Settlement currency {cac|SL|N}
Charge CHF {ta|SL|N}
Thank you for your order.
[END]
transType=FINANCE_COST|Financing
dateFormat=dd.MM.yyyy
timeFormat=HH:mm:ss
overRuleSeparators=All<'|.>
calcRounding=0.05,JPY=1
templatePurpose=Grafioschtrader financing cost receipt
