<div (click)="onComponentClick($event)" [ngClass]="{'active-border': isActivated(), 'passiv-border': !isActivated()}"
     dynamicItems>
  <p-tree (keydown)="onKeydown($event)" (onNodeContextMenuSelect)="onNodeContextMenuSelect($event)" (onNodeSelect)="onNodeSelect($event)" [(selection)]="selectedNode"
          [contextMenu]="cm"
          [value]="portfolioTrees" selectionMode="single">
    <ng-template let-node pTemplate="default">
        <span (dragover)="dragOver($event, node)" (drop)="drop($event, node)">
            {{node.label}}
        </span>
    </ng-template>
  </p-tree>

  <p-contextMenu #cm [model]="contextMenuItems" appendTo="body"></p-contextMenu>
</div>

<p-confirmDialog #cd header="Confirmation" icon="fa fa-question-circle" width="425">
  <p-footer>
    <button (click)="cd.accept()" icon="pi pi-check" label="{{'YES' | translate}}" pButton type="button"></button>
    <button (click)="cd.reject()" icon="pi pi-times" label="{{'NO' | translate}}" pButton type="button"></button>
  </p-footer>
</p-confirmDialog>


<tenant-edit-dialog (closeDialog)="handleOnProcessedDialog($event)" *ngIf="visibleDialogs[DialogVisible.Tenant]"
                    [callParam]="callParam"
                    [onlyCurrency]="onlyCurrency"
                    [visibleTenantDialog]="visibleDialogs[DialogVisible.Tenant]">
</tenant-edit-dialog>
<portfolio-edit (closeDialog)="handleOnProcessedDialog($event)" *ngIf="visibleDialogs[DialogVisible.Portfolio]"
                [callParam]="callParam"
                [visibleDialog]="visibleDialogs[DialogVisible.Portfolio]">
</portfolio-edit>
<securityaccount-edit (closeDialog)="handleOnProcessedDialog($event)" *ngIf="visibleDialogs[DialogVisible.Securityaccount]"
                      [callParam]="callParam"
                      [visibleDialog]="visibleDialogs[DialogVisible.Securityaccount]">
</securityaccount-edit>
<watchlist-edit (closeDialog)="handleOnProcessedDialog($event)" *ngIf="visibleDialogs[DialogVisible.Watchlist]"
                [callParam]="callParam"
                [visibleDialog]="visibleDialogs[DialogVisible.Watchlist]">
</watchlist-edit>
<algo-rule-strategy-create (closeDialog)="handleOnProcessedDialog($event)" *ngIf="visibleDialogs[DialogVisible.AlgoRuleStrategy]"
                           [callParam]="callParam"
                           [visibleDialog]="visibleDialogs[DialogVisible.AlgoRuleStrategy]">
</algo-rule-strategy-create>
