spring.main.web-application-type
spring.main.allow-circular-references
spring.jpa.open-in-view
spring.jpa.properties.hibernate.discriminator.ignore_explicit_for_joined
spring.jpa.show-sql
spring.jpa.hibernate.ddl-auto
spring.jpa.properties.hibernate.jdbc.time_zone
spring.jpa.properties.hibernate.dialect
spring.jpa.properties.hibernate.cache.use_second_level_cache
spring.jpa.properties.hibernate.javax.cache.missing_cache_strategy
spring.jpa.properties.hibernate.cache.use_query_cache
spring.jpa.properties.hibernate.cache.region.factory_class
spring.jpa.properties.jakarta.persistence.sharedCache.mode
spring.flyway.baseline-version
spring.flyway.baseline-on-migrate
spring.flyway.locations
server.tomcat.connection-timeout
management.endpoints.web.exposure.include
management.endpoints.web.base-path
info.name
info.description
info.version
management.info.env.enabled
spring.jackson.serialization.WRITE_DATES_AS_TIMESTAMPS
spring.jackson.serialization.WRITE_DATE_TIMESTAMPS_AS_NANOSECONDS
spring.jackson.serialization.fail-on-empty-beans
spring.hateoas.use-hal-as-default-json-media-type
gt.use.websocket=false
gt.use.algo=false
management.endpoints.jmx.exposure.include