<div class="data-container-full" (click)="onComponentClick($event)" #cmDiv
     [ngClass]="{'active-border': isActivated(), 'passiv-border': !isActivated()}">

  <p-table [columns]="fields" [value]="entityList" selectionMode="single" [(selection)]="selectedEntity"
           responsiveLayout="scroll" scrollHeight="flex" [scrollable]="true"
           [dataKey]="entityKeyName" sortMode="multiple" [multiSortMeta]="multiSortMeta"
           (sortFunction)="customSort($event)" [customSort]="true"
           stripedRows showGridlines>
    <ng-template #caption>
      <h4>{{ entityNameUpper | translate }}</h4>
    </ng-template>
    <ng-template #header let-fields>
      <tr>
        <th *ngFor="let field of fields" [pSortableColumn]="field.field"
            [pTooltip]="field.headerTooltipTranslated" [style.max-width.px]="field.width"
            [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
          {{ field.headerTranslated }}
          <p-sortIcon [field]="field.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-el let-columns="fields">
      <tr [pSelectableRow]="el">
        <td *ngFor="let field of fields"
            [style.max-width.px]="field.width"
            [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}"
            [ngClass]="{'row-total': el.idUser === 0}">
          <ng-container [ngSwitch]="field.templateName">
            <ng-container *ngSwitchCase="'icon'">
              <svg-icon [name]="getValueByPath(el, field)"
                        [svgStyle]="{ 'width.px':14, 'height.px':14 }"></svg-icon>
            </ng-container>
            <ng-container *ngSwitchCase="'check'">
              <span><i [ngClass]="{'fa fa-check': getValueByPath(el, field)}" aria-hidden="true"></i></span>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <span [pTooltip]="getValueByPath(el, field)" tooltipPosition="top">
                {{ getValueByPath(el, field) }}
              </span>
            </ng-container>
          </ng-container>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-contextMenu *ngIf="contextMenuItems" [target]="cmDiv" [model]="contextMenuItems"></p-contextMenu>
</div>
<udf-metadata-security-edit *ngIf="visibleDialog && isSecurityEdit"
                            [visibleDialog]="visibleDialog"
                            [callParam]="callParam"
                            (closeDialog)="handleCloseDialog($event)">
</udf-metadata-security-edit>
<udf-metadata-general-edit *ngIf="visibleDialog && !isSecurityEdit"
                           [visibleDialog]="visibleDialog"
                           [callParam]="callParam"
                           (closeDialog)="handleCloseDialog($event)">
</udf-metadata-general-edit>
