<div class="col-md-12">
  <ng-container *ngFor="let tenantLimit of tenantLimits">
    <h5>{{tenantLimit.actual}} {{tenantLimit.msgKey | translate}} {{tenantLimit.limit}}</h5>
  </ng-container>
  <p-table [columns]="fields" [value]="securitycurrencyList" [(selection)]="selectedSecuritycurrencies"
           dataKey="idSecuritycurrency" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]"
           sortMode="multiple" [multiSortMeta]="multiSortMeta"
           styleClass="sticky-table p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="header" let-fields>
      <tr>
        <th style="width: 2.25em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngFor="let field of fields" [pSortableColumn]="field.field">
          {{field.headerTranslated}}
          <p-sortIcon [field]="field.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-el let-columns="fields">
      <tr [pSelectableRow]="el">
        <td>
          <p-tableCheckbox [value]="el"></p-tableCheckbox>
        </td>
        <ng-container *ngFor="let field of fields">
          <td *ngIf="field.visible" [style.width.px]="field.width"
              [ngClass]="(field.dataType===DataType.Numeric || field.dataType===DataType.DateTimeNumeric
                || field.dataType===DataType.NumericInteger)? 'text-right': ''">
            {{getValueByPath(el, field)}}
          </td>
        </ng-container>
      </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft" let-state>
      {{selectedSecuritycurrencies.length}} {{'SELECTED_FROM' | translate}} {{securitycurrencyList.length}}
      {{"ALLOWED" | translate}}: <span *ngFor="let tenantLimit of tenantLimits"
                                       [style.color]='selectedSecuritycurrencies.length>
                                            tenantLimit.limit - tenantLimit.actual? "red": "green"'>
          {{tenantLimit.limit - tenantLimit.actual - selectedSecuritycurrencies.length}},</span>
    </ng-template>
  </p-table>
</div>

<div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
  <button pButton [disabled]="selectedSecuritycurrencies.length === 0 || reachedListLimits()"
          class="btn pull-right" [label]="'ADD' | translate"
          (click)="onClickAdd()" type="button">
  </button>
</div>
