<configurable-table [data]="data" [fields]="fields" [dataKey]="keyfield"
                    [multiSortMeta]="multiSortMeta" [paginator]="true" [rows]="20"
                    selectionMode="single" sortMode="multiple"
                    customClass="datatable nestedtable leftRight2Table"
                    (pageChange)="onPage($event)">
  <div caption class="table-header">
    <h5>{{groupTitle | translate}}</h5>
  </div>
  <ng-template #iconCell let-value="value">
    <svg-icon [name]="value" [svgStyle]="{ 'width.px':14, 'height.px':14 }"></svg-icon>
  </ng-template>
</configurable-table>

