<div #cmDiv (click)="onComponentClick($event)" (contextmenu)="onRightClick($event)"
     [ngClass]="{'active-border': isActivated(), 'passiv-border': !isActivated()}" class="data-container">
  <p-table (onColResize)="onColResize($event)" (sortFunction)="customSort($event)" [(selection)]="singleMultiSelection"
           [columns]="fields"
           [customSort]="true" [loading]="loading"
           [multiSortMeta]="multiSortMeta" [selectionMode]="selectMultiMode" [value]="securityPositionList"
           dataKey="securitycurrency.idSecuritycurrency" loadingIcon="fa fa-circle-o-notch fa-5x" sortMode="multiple"
           responsiveLayout="scroll"
           styleClass="sticky-table p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="caption">
      <h4>{{'WATCHLIST' | translate}}: "{{watchlist.name}}" {{securitycurrencyGroup?.lastTimestamp
        | date: 'HH:mm dd.MM.yy'}}</h4>
    </ng-template>

    <ng-template pTemplate="header" let-fields>
      <tr>
        <th style="width:24px"></th>
        <th *ngIf="selectMultiMode === 'multiple'" style="width: 2.25em">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <ng-container *ngFor="let field of fields">
          <th *ngIf="field.visible" [pSortableColumn]="field.field"
              [pTooltip]="field.headerTooltipTranslated"
              [style.max-width.px]="field.width"
              [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
            {{field.headerTranslated}}
            <p-sortIcon [field]="field.field"></p-sortIcon>
          </th>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-columns="fields" let-expanded="expanded" let-spl>
      <tr [pSelectableRow]="spl">
        <td style="width:24px">
          <a *ngIf="spl.watchlistSecurityHasEver || watchlistType === WatchListType.PRICE_FEED" [pRowToggler]="spl"
             href="#">
            <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
          </a>
        </td>
        <td *ngIf="selectMultiMode === 'multiple'">
          <p-tableCheckbox [value]="spl"></p-tableCheckbox>
        </td>

        <ng-container *ngFor="let field of fields">
          <td *ngIf="field.visible"
              [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}"
              [style.max-width.px]="field.width"
              [ngClass]="(field.dataType===DataType.Numeric || field.dataType===DataType.DateTimeNumeric)? 'text-right': ''">
            <ng-container [ngSwitch]="field.templateName">
              <ng-container *ngSwitchCase="'owner'">
                <span [pTooltip]="getValueByPath(spl, field)"
                      [style]='isNotSingleModeAndOwner(field, spl.securitycurrency)? "font-weight:500": null'
                      tooltipPosition="top">{{getValueByPath(spl, field)}}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'greenRed'">
                <span [style.color]='isValueByPathMinus(spl, field)? "red": "green"'>{{getValueByPath(spl, field)}}</span>
              </ng-container>
              <ng-container *ngSwitchCase="'check'">
                <span><i [ngClass]="{'fa fa-check': getValueByPath(spl, field)}" aria-hidden="true"></i></span>
              </ng-container>
              <ng-container *ngSwitchCase="'icon'">
                <svg-icon (dragend)="dragEnd($event, spl)" (dragstart)="dragStart($event, spl)"
                          [name]="getValueByPath(spl, field)" [svgStyle]="{ 'width.px':14, 'height.px':14 }"
                          class="cell-move" draggable="true"></svg-icon>
              </ng-container>
              <ng-container *ngSwitchDefault>
                <span [pTooltip]="getValueByPath(spl, field)" tooltipPosition="top">{{getValueByPath(spl, field)}}</span>
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-columns="fields" let-spl>
      <tr *ngIf="spl.watchlistSecurityHasEver || watchlistType !== WatchListType.PERFORMANCE">
        <td [attr.colspan]="numberOfVisibleColumns + 1">
          <transaction-security-table (dateChanged)="handleCloseTransactionDialog($event)"
                                      *ngIf="watchlistType === WatchListType.PERFORMANCE && !isMarginProduct(spl)"
                                      [idSecuritycurrency]="spl.securitycurrency.idSecuritycurrency"
                                      [idTenant]="idTenant">
          </transaction-security-table>

          <transaction-security-margin-treetable (dateChanged)="handleCloseTransactionDialog($event)"
                                                 *ngIf="watchlistType === WatchListType.PERFORMANCE && isMarginProduct(spl)"
                                                 [idSecuritycurrency]="spl.securitycurrency.idSecuritycurrency"
                                                 [idTenant]="idTenant">
          </transaction-security-margin-treetable>

          <securitycurrency-extended-info *ngIf="watchlistType === WatchListType.PRICE_FEED"
                                          [dividendUrl]="spl.dividendUrl"
                                          [historicalUrl]="spl.historicalUrl"
                                          [intradayUrl]="spl.intradayUrl"
                                          [securitycurrency]="spl.securitycurrency">
          </securitycurrency-extended-info>

          <div *ngIf="watchlistType === WatchListType.DIVIDEND_SPLIT_FEDED">
            <watchlist-dividend-table [idSecuritycurrency]="spl.securitycurrency.idSecuritycurrency">
            </watchlist-dividend-table>
            <watchlist-securitysplit-table [idSecuritycurrency]="spl.securitycurrency.idSecuritycurrency">
            </watchlist-securitysplit-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-contextMenu #contextMenu *ngIf="contextMenuItems && isActivated()" [model]="contextMenuItems" [target]="cmDiv"
                 appendTo="body"></p-contextMenu>

</div>

<transaction-security-edit (closeDialog)="handleCloseTransactionDialog($event)"
                           *ngIf="visibleSecurityTransactionDialog"
                           [transactionCallParam]="transactionCallParam"
                           [visibleSecurityTransactionDialog]="visibleSecurityTransactionDialog">
</transaction-security-edit>

<watchlist-add-instrument (closeDialog)="handleCloseAddInstrumentDialog($event)" *ngIf="visibleAddInstrumentDialog"
                          [idWatchlist]="idWatchlist"
                          [tenantLimits]="tenantLimits"
                          [visibleAddInstrumentDialog]="visibleAddInstrumentDialog">
</watchlist-add-instrument>

<currencypair-edit (closeDialog)="handleCloseEditSecuritycurrencyDialog($event)"
                   *ngIf="visibleEditCurrencypairDialog"
                   [securityCurrencypairCallParam]="securityCurrencypairCallParam"
                   [visibleEditCurrencypairDialog]="visibleEditCurrencypairDialog">
</currencypair-edit>

<security-edit (closeDialog)="handleCloseEditSecuritycurrencyDialog($event)"
               *ngIf="visibleEditSecurityDialog"
               [securityCurrencypairCallParam]="securityCurrencypairCallParam"
               [visibleEditSecurityDialog]="visibleEditSecurityDialog">
</security-edit>

<security-derived-edit (closeDialog)="handleCloseEditSecuritycurrencyDialog($event)"
                       *ngIf="visibleEditSecurityDerivedDialog"
                       [securityCallParam]="securityCallParam"
                       [visibleDialog]="visibleEditSecurityDerivedDialog">
</security-derived-edit>



