<!--
   For frozen columns modify header and body:
   Modify this to <th style="width:24px"  pFrozenColumn></th>
   Modify this to <th <th *ngIf="selectMultiMode ... pFrozenColumn></th>
   Add this to <th> and <td> of header and body
   pFrozenColumn  [frozen]="field.frozenColumn"
   Add the moment is very slow!!!
-->

<div #cmDiv (click)="onComponentClick($event)" (contextmenu)="onRightClick($event)"
     [ngClass]="{'active-border': isActivated(), 'passiv-border': !isActivated()}" class="data-container">
  <p-table (onColResize)="onColResize($event)" (sortFunction)="customSort($event)" [(selection)]="singleMultiSelection"
           [columns]="fields"
           [customSort]="true" [loading]="loading"
           [multiSortMeta]="multiSortMeta" [selectionMode]="selectMultiMode" [value]="securityPositionList"
           dataKey="securitycurrency.idSecuritycurrency" loadingIcon="fa fa-circle-o-notch fa-5x" sortMode="multiple"
           scrollHeight="flex" [scrollable]="true"
           stripedRows showGridlines>
    <ng-template #caption>
      <h4>{{ 'WATCHLIST' | translate }}: "{{ watchlist.name }}" {{
          securitycurrencyGroup?.lastTimestamp
            | date: 'HH:mm dd.MM.yy'
        }}</h4>
    </ng-template>

    <ng-template #header let-fields>
      <tr>
        <th style="width:24px"></th>
        @if (selectMultiMode === 'multiple') {
          <th style="width: 2.25em">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
        }
        @for (field of fields; track field.field) {
          @if (field.visible) {
            <th [pSortableColumn]="field.field"
                [pTooltip]="field.headerTooltipTranslated"
                [style.max-width.px]="field.width"
                [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
              {{ field.headerTranslated }}
              <p-sortIcon [field]="field.field"></p-sortIcon>
            </th>
          }
        }
      </tr>
    </ng-template>

    <ng-template #body let-columns="fields" let-expanded="expanded" let-spl>
      <tr [pSelectableRow]="spl">
        <td style="width:24px">
          @if (spl.watchlistSecurityHasEver || watchlistType === WatchListType.PRICE_FEED || watchlistType === WatchListType.UDF) {
            <a [pRowToggler]="spl" href="#">
              <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
            </a>
          }
        </td>
        @if (selectMultiMode === 'multiple') {
          <td pFrozenColumn>
            <p-tableCheckbox [value]="spl"></p-tableCheckbox>
          </td>
        }

        @for (field of fields; track field.field) {
          @if (field.visible) {
            <td [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}"
                [style.max-width.px]="field.width"
                [ngClass]="(field.dataType===DataType.Numeric || field.dataType===DataType.DateTimeNumeric)? 'text-right': ''">
              @switch (field.templateName) {
                @case ('owner') {
                  <span [pTooltip]="getValueByPath(spl, field)"
                        [style]='isNotSingleModeAndOwner(field, spl.securitycurrency)? "font-weight:500": null'
                        tooltipPosition="top">{{ getValueByPath(spl, field) }}</span>
                }
                @case ('greenRed') {
                  <span [style.color]='isValueByPathMinus(spl, field)? "red": "green"'>{{ getValueByPath(spl, field) }}</span>
                }
                @case ('check') {
                  <span><i [ngClass]="{'fa fa-check': getValueByPath(spl, field)}" aria-hidden="true"></i></span>
                }
                @case ('icon') {
                  <svg-icon (dragend)="dragEnd($event, spl)" (dragstart)="dragStart($event, spl)"
                            [name]="getValueByPath(spl, field)" [svgStyle]="{ 'width.px':14, 'height.px':14 }"
                            [pTooltip]="spl.securitycurrency.idSecuritycurrency"
                            class="cell-move" draggable="true"></svg-icon>
                }
                @case ('linkIcon') {
                  @if (getValueByPath(spl, field)) {
                    <a [href]="getValueByPath(spl, field)" target=_blank>
                      <svg-icon [name]="'link' + (field.field.match(fieldNumberRegex) % 4)"
                                [svgStyle]="{ 'width.px':24, 'height.px':14 }"></svg-icon>
                    </a>
                  }
                }
                @default {
                  <span [pTooltip]="getValueByPath(spl, field)"
                        tooltipPosition="top">{{ getValueByPath(spl, field)}}</span>
                }
              }
            </td>
          }
        }
      </tr>
    </ng-template>

    <ng-template #expandedrow let-columns="fields" let-spl>
      @if (spl.watchlistSecurityHasEver || watchlistType !== WatchListType.PERFORMANCE) {
        <tr>
          <td [attr.colspan]="numberOfVisibleColumns + 1">
            @if (watchlistType === WatchListType.PERFORMANCE && !isMarginProduct(spl)) {
              <transaction-security-table (dateChanged)="handleCloseTransactionDialog($event)"
                                          [idSecuritycurrency]="spl.securitycurrency.idSecuritycurrency"
                                          [idTenant]="idTenant">
              </transaction-security-table>
            }

            @if (watchlistType === WatchListType.PERFORMANCE && isMarginProduct(spl)) {
              <transaction-security-margin-treetable (dateChanged)="handleCloseTransactionDialog($event)"
                                                     [idSecuritycurrency]="spl.securitycurrency.idSecuritycurrency"
                                                     [idTenant]="idTenant">
              </transaction-security-margin-treetable>
            }

            @if (watchlistType === WatchListType.UDF) {
              <securitycurrency-udf [securitycurrency]="spl.securitycurrency">
              </securitycurrency-udf>
            }

            @if (watchlistType === WatchListType.PRICE_FEED) {
              <securitycurrency-extended-info [dividendUrl]="spl.dividendUrl"
                                              [splitUrl]="spl.splitUrl"
                                              [historicalUrl]="spl.historicalUrl"
                                              [intradayUrl]="spl.intradayUrl"
                                              [feedConnectorsKV]="feedConnectorsKV"
                                              [securitycurrency]="spl.securitycurrency">
              </securitycurrency-extended-info>
            }

            @if (watchlistType === WatchListType.DIVIDEND_SPLIT_FEED) {
              <div>
                <watchlist-dividend-table [idSecuritycurrency]="spl.securitycurrency.idSecuritycurrency">
                </watchlist-dividend-table>
                <watchlist-securitysplit-table [idSecuritycurrency]="spl.securitycurrency.idSecuritycurrency">
                </watchlist-securitysplit-table>
              </div>
            }
          </td>
        </tr>
      }
    </ng-template>
  </p-table>

  @if (contextMenuItems && isActivated()) {
    <p-contextMenu #contextMenu [model]="contextMenuItems"
                   [target]="cmDiv"></p-contextMenu>
  }
</div>

@if (visibleSecurityTransactionDialog) {
  <transaction-security-edit (closeDialog)="handleCloseTransactionDialog($event)"
                             [transactionCallParam]="transactionCallParam"
                             [visibleSecurityTransactionDialog]="visibleSecurityTransactionDialog">
  </transaction-security-edit>
}

@if (visibleAddInstrumentDialog) {
  <watchlist-add-instrument (closeDialog)="handleCloseAddInstrumentDialog($event)"
                            [idWatchlist]="idWatchlist"
                            [tenantLimits]="tenantLimits"
                            [visibleAddInstrumentDialog]="visibleAddInstrumentDialog">
  </watchlist-add-instrument>
}

@if (visibleEditCurrencypairDialog) {
  <currencypair-edit (closeDialog)="handleCloseEditSecuritycurrencyDialog($event)"
                     [securityCurrencypairCallParam]="securityCurrencypairCallParam"
                     [visibleEditCurrencypairDialog]="visibleEditCurrencypairDialog">
  </currencypair-edit>
}

@if (visibleEditSecurityDialog) {
  <security-edit (closeDialog)="handleCloseEditSecuritycurrencyDialog($event)"
                 [securityCurrencypairCallParam]="securityCurrencypairCallParam"
                 [visibleEditSecurityDialog]="visibleEditSecurityDialog">
  </security-edit>
}

@if (visibleEditSecurityDerivedDialog) {
  <security-derived-edit (closeDialog)="handleCloseEditSecuritycurrencyDialog($event)"
                         [securityCallParam]="securityCallParam"
                         [visibleDialog]="visibleEditSecurityDerivedDialog">
  </security-derived-edit>
}

@if (visibleUDFSecurityDialog) {
  <udf-security-edit (closeDialog)="handleCloseEditSecuritycurrencyDialog($event)"
                     [uDFGeneralCallParam]="uDFGeneralCallParam"
                     [visibleDialog]="visibleUDFSecurityDialog">
  </udf-security-edit>
}

@if (alarmSetupService.visibleDialog) {
  <algo-strategy-edit [visibleDialog]="alarmSetupService.visibleDialog"
                      [algoCallParam]="alarmSetupService.algoCallParam"
                      (closeDialog)="alarmSetupService.handleCloseDialog($event)">
  </algo-strategy-edit>
}

@if (visibleUDFGeneralDialog) {
  <udf-general-edit (closeDialog)="handleCloseEditSecuritycurrencyDialog($event)"
                    [uDFGeneralCallParam]="uDFGeneralCallParam"
                    [visibleDialog]="visibleUDFGeneralDialog">
  </udf-general-edit>
}

@if (watchlistType === WatchListType.PRICE_FEED && visibleAddPriceProblemDialog) {
  <watchlist-add-edit-price-problem-instrument (closeDialog)="handleCloseAddPriceProblemInstrument($event)"
                                               [idWatchlist]="idWatchlist"
                                               [visibleDialog]="visibleAddPriceProblemDialog">
  </watchlist-add-edit-price-problem-instrument>
}
