datetime=Date
order=Order
transType=Transaction
symbol=Symbol
sn=Name
isin=ISIN
units=Quantity
quotation=Unit price
ac=Accrued interest
tc1=Costs
tt1=Taxes
cin=Instrument currency
ta=Net Amount
cac=Currency
cex=Exchange rate
sf1=Marker
[END]
templateId=1
delimiterField=;
dateFormat=dd.MM.yyyy HH:mm
transType=ACCUMULATE|Buy
transType=REDUCE|Sell
transType=DIVIDEND|Dividend
transType=FEE|Fee
transType=INTEREST_CASHACCOUNT|Interest
transType=DEPOSIT|Deposit
transType=WITHDRAWAL|Withdrawal
transType=FINANCE_COST|Financing
overRuleSeparators=All<'|.>
calcRounding=0.05,JPY=1
ignoreLineByFieldValue=sf1||MARGIN
templatePurpose=Grafioschtrader transaction export (english)
