Corporate Action Detail, {cac|SL|P|N}
Berichtszeitraum
30-Sep-2026 bis 30-Sep-2026
Corporate Action
Event {transType|SL|P|N} Geeignete Menge {units|SL|P|N}
Description Vanguard FTSE All-World UCITS Dist ETF Dividende pro Aktie {quotation|SL|P} {cin|SL|N}
Symbol VWRL:xswx Umrechnungskurs {cex|SL|P|N}
ISIN {isin|SL|P|N} Kapitalmaßnahmen - Bardividenden 154.02 CHF
Kapitalmaßnahmen - Quellensteuer -38.51 CHF
Kapitalmaßnahmen - Quellensteuer (%) 25%
Betrag Gebuchter Betrag
Buchungsbetrag-ID Ex-Tag Record Date Einstellungsdatum Zahltag Umrechnungskurs
USD CHF
Kapitalmaßnahmen -
(?:\d+) {exdiv|NL|P|O} 18-Sep-2026 - {datetime|NL|N} (?:-?\d+\.\d+) 0.833672 154.02
Bardividenden
Kapitalmaßnahmen -
88888888802 17-Sep-2026 18-Sep-2026 - (?:\d{2}-\S+-\d{4}) {tt1|NL|P|N|O} (?:\d+\.\d+) -38.51
Quellensteuer
Nettobetrag - - - - - 138.56 0.833672 {ta|SL|N}
[END]
templatePurpose=Bardividende Saxo Bank CH (Corporate Action Detail Report)
transType=DIVIDEND|Bardividende
dateFormat=dd-MMM-yyyy
timeFormat=HH:mm:ss
overRuleSeparators=All<''|.>
quotationDecimals=2
