Auftragsnummer AUF8123456
Thun, {datetime|SL|N} Auftragsdatum 16.06.2022
Börsenabrechnung - {transType|SL|P}  - Teilausführung
Wir haben für Sie am 10.08.2017 verkauft.
Börsenplatz: SIX Swiss Exchange
Anteile -H CHF hedged-
Raiffeisen ETF - Solid Gold Ounces
Valor: 13403486
ISIN: {isin|P|N}
{units|PL|R} zu (?:...) {quotation} 15:14:45
Total Kurswert CHF 8'000.00
1.00 {per|N|PL|O} Zins vom 14.04.2022 bis 11.10.2022 / CHF {ac|N|O|PL}
Eidg. Umsatzabgabe CHF  {tt1|SL|N}
Marktgebühr USD {tc2|SL|N|O}
Courtage CHF {tc1|SL|N}
Ausführungsgebühr Börse CHF {tc2|SL|N|O}
Netto  {cac|SL|P} {ta|SL|N}
[END]
templatePurpose=Kauf und Verkauf Instrument
transType=ACCUMULATE|Kauf
transType=REDUCE|Verkauf
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>