Am {datetime|P|N} wurde die {transType|P|N} zahlbar auf 
Namen-Aktie Ex Datum: 29.03.2011 
Cisco Systems Inc Zahlbar Datum: 20.04.2011 
Valor: 918546 
ISIN: {isin|P|N} 
Bestand: {units|P|N} zu {cin|P} {quotation|SL|N} 
Brutto (1 * USD 0.06) USD 0.06 
15% Nicht rückforderbare Steuern (USD 1.00) USD {tt1|Nc|PL}-
15% zusätzlicher Steuerrückbehalt USA (CHF 1.00) USD {tt2|Nc|NL}-
Netto {cac|P} 105.00 
[END]
templatePurpose=Dividende
transType=DIVIDEND|Dividende
dateFormat=dd.MM.yyyy
