Am {datetime|P|N} wurde die {transType|P|N} zahlbar auf
(?:.*Ex.Datum.*) {exdiv|P|N|O}
ProShares Short QQQ Zahlbar Datum: 02.07.2019
Valor: 25792502
ISIN: {isin|P|N}
Bestand: {units|P|N|SL} zu {cin|P|SL} {quotation|SL|N}
Brutto (200 * USD 0.1838) USD 36.76
(?:.*steuer.*)  {tt1|P|PL|N|O}
(?:.*zu.*steuer.*)  {tt2|P|NL|N|O}
Netto {cac|P|SL} {ta|SL|N}
Unsere Gutschrift erfolgt auf Konto 00 .0.000.000.00 mit Valuta 28.11.2016.
[END]
templatePurpose=Dividende
transType=DIVIDEND|Dividende
dateFormat=dd.MM.yyyy
overRuleSeparators=All<’'|.>