
html {
  font-size: 100%;
}


body {
  line-height: 1.3;
}


.row {
  margin-left: 0;
  margin-right: 0;
}


label {
  text-align: end;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.p-tree {
  width: auto;
}

.p-datatable .p-datatable-header {
  text-align: left;
}

.p-dialog .p-dialog-content {
  overflow: visible;
}

/**
* Primeng Calendar with calendar button
 */
/*
.p-calendar {
  display: flex;
}
*/
.p-calendar .p-button {
  position: relative;
  height: 22px;
}

.p-inputgroup .p-button {
  position: relative;
  height: 22px;
}

/**
/* Correct matching boxes of elements with two inputs
 */
.p-datepicker {
  width: 400px !important;
}


.p-autocomplete {
  width: 100%;
}



.data-container-full {
  height: 100%;
}


.p-dialog-buttonpane button, .p-dialog-buttonpane button {
  margin: 3px;
}

.sticky-table.p-datatable .p-datatable-thead > tr > th {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0px;
}

.sticky-table.p-datatable-resizable > .p-datatable-wrapper {
  overflow-x: initial !important;
}

.sticky-table.p-datatable-resizable .p-resizable-column {
  position: sticky !important;
}

@media screen and (max-width: 64em) {
  .sticky-table .p-datatable .p-datatable-thead > tr > th {
    top: 0px;
  }
}

.xflex {
  box-sizing: border-box;
}


.p-datatable thead th {
  text-align: left;
}

.p-column-title, .p-sortable-column-icon {
  white-space: normal;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: left;
}

.p-datatable-reflow .p-datatable-data th .p-column-title {
  display: table;
}

.p-widget-content {
  border-left: none;
  border-right: none;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-color: #D5D5D5;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('assets/vertical.png');
  cursor: ew-resize;
}

.gutter.gutter-vertical {
  background-image: url('assets/horizontal.png');
  cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

button.p-button.button-no-label > span.p-button-label {
  display: none;
}

.progress-bar-box {
  margin: 5px 50px;
}

/**
 * Set overflow-y to hidden, if table supports responsive in y direction
 */
.split {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
}

.out-border-legend {
  font-size: 100%;
  font-weight: bold;
  width: inherit; /* Or auto */
  padding: 0 10px !important; /* To give a bit of padding on the left and right */
  border: 1px groove #ddd !important;
  margin-bottom: 2px;
}

.out-border {
  border: 1px groove #ddd !important;
  padding: 0 .25em .25em .25em !important;
  margin: 1em 1em 1em 0 !important;
  -webkit-box-shadow: 0px 0px 0px 0px #000;
  box-shadow: 0px 0px 0px 0px #000;
}

.ftext-right {
  text-align: right !important;
  padding-right: initial !important;
}

.row-total {
  background: lightskyblue !important;
}

.rowgroup-total {
  background: lightgoldenrodyellow !important;
}

.blank_row {
  height: 12px !important; /* overwrites any other rules */
  background-color: #FFFFFF;
}

.active-border {
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}

.passiv-border {
  border-style: solid;
  border-width: 2px;
  border-color: transparent;
}

.bg-info a:link {
  text-decoration: underline;
}


/**
* Tool tip an table cell
 */
.p-datatable .p-datatable-thead > tr > th, .p-datatable .p-datatable-tfoot > tr > td, .p-datatable .p-datatable-data > tr > td {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.p-rowgroup-footer {
  background: lightgoldenrodyellow;
}

.fullChart {
  height: calc(100% - 40px);
  box-sizing: content-box;
}

/**
* scrollHeight not dynamically on new Turbo Table #4884
* It would be great to have a frozen header
 *[scrollable]="true" scrollHeight="100%"
 */
.fullScrollTable {
  height: calc(100% - 50px);
}

.fullheight {
  height: calc(100vh - 36px);
  border-radius: 4px;
}

.big-dialog {
  overflow-y: auto;
  max-height: calc(100vh - 20px);
}


.form-group .p-chkbox .p-chkbox-box {
  width: 1.5em;
  height: 1.5em;
  margin-top: 3px;
}

/**
 * See: Enable row expansion based on row data #1586 github,Primeng
 */
.noExpander span.p-row-toggler {
  display: none;
}

/**
* Bootstrap Form-Control
 */
.form-group-sm .form-control, .form-group-sm select.form-control {
  height: 22px;
  padding: 1px 1px;
}

.form-group {
  margin-top: 3px;
  margin-bottom: 2px;
}

.form-control {
  font-size: 0.75rem;
}

.form-control-file-input {
  font-size: 0.75rem;
  height: auto;
}

.big-size {
  font-size: 1rem;
}

.form-control-fluid {
  height: 22px;
  padding: 1px 1px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.negativ-number {
  color: indianred;
}

.small-padding {
  padding-right: 4px !important;
  padding-left: 4px !important;
}

.required-input {
  border-left: 5px solid #42A948 !important; /* green */
}

.required-input:disabled {
  border-left: inherit;
}

.btn-circle {
  width: 20px;
  height: 20px;

  border-radius: 10px;
  text-align: center;
  font-size: 0.75rem;
}

.flexRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


.plot-container {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.input-w {
  margin-top: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.input-w label {
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 20px;
}

.input-w input[type=checkbox] {
  margin: 0px;
}

select option:disabled {
  color: #dedcdc;
}


/**
* Drop Zone
*/

.drop-zone-trans {
  margin: auto;
  height: 34px;
  width: 100px;
  border: 2px dotted #0782d0;
  border-radius: 8px;
}

.drop-zone-trans-long {
  margin: auto;
  height: 34px;
  width: 200px;
  border: 2px dotted #0782d0;
  border-radius: 8px;
}

.content-trans {
  color: #0782d0;
  height: 34px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/**
* PrimeNg Table
*/

.p-datatable-caption, .p-datatable-summary {
  text-align: left;
}

th {
  font-weight: normal;
  overflow-x: hidden;
  white-space: normal !important;
}

td {
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap !important;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even).p-contextmenu-selected {
  background: transparent;
  color: #222222;
}

.p-datatable .p-contextmenu-selected {
  background: transparent;
  color: #222222;
}

.nestedtable th {
  white-space: normal;
}

/**
 Makes filter input in table header not bigger then the cell
 */
table th input {
  width: 100%;
  margin: 0;
}

table th .p-inputtext {
  padding: 0.1em;

}

.singleRowTableHeader {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

/**
* Flexbox
*/
.fcontainer {
  display: flex;
  flex-wrap: wrap;
}

.fcontainer .fbox {
  min-width: 400px;
  max-width: 100%;
  flex-basis: 350px;
  flex-grow: 1;
}

.fcontainer .showlabel {
  padding: 0px 4px 0px 0px;
  margin: 0px;
  font-weight: bold;
}

.fcontainer .wrap {
  word-wrap: break-word;
  white-space: normal;
}

.leftRight2Table {
  float: left;
  min-width: 300px;
  width: 50%;
  border: 2px solid darkgray;
}

/**
* Grid
*/
.gbox {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1em;
}

.glabel {
  float: left;
  width: 220px;
  text-align: right;
  padding-right: 10px;
}


.gvalue {
  float: left;
  width: calc(100% - 220px);
}


.no-wrap {
  flex-shrink: 0;
}

.table-frozen-header {
  height: calc(100% - 30px);
}

.flex-two-columns {
  display: flex;
  justify-content: space-between;
}

.left-half {
  width: 40%;
  align-items: center;
}

.center-half {
  width: 35%;
  display: inline-flex;
  align-items: center;
}

.right-half {
  width: 25%;
  align-items: center;
  display: block;
}


/**
Classes that Bootstrap 4 hat but Hootstrap 3
 */
.float-right {
  float: right;
}


.text-right {
  text-align: right !important;
  justify-content: end;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 3rem !important;
}

.select-item {
  display: flex;
  align-items: center;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item-group {
  padding: 0.1rem 0.25rem;
}

.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.25rem 1rem;
}
