<div #cmDiv (click)="onComponentClick($event)"
     [ngClass]="{'active-border': isActivated(), 'passiv-border': !isActivated()}"
     class="data-container">
  <div class="datatable nestedtable">
    <p-table #table (onPage)="onPage($event)" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
             (sortFunction)="customSort($event)" [(selection)]="pageFirstRowSelectedRow.selectedRow"
             [columns]="fields" [customSort]="true"
             [first]="pageFirstRowSelectedRow.topPageRow" [multiSortMeta]="multiSortMeta" [paginator]="true"
             [rowsPerPageOptions]="[20,30,50,100]" [rows]="50"
             [value]="cashaccountTransactionPositions" dataKey="idTransaction" selectionMode="single"
             sortMode="multiple"  stripedRows showGridlines>
      <ng-template #header let-fields>
        <tr>
          @for (field of fields; track field.field) {
            <th [pSortableColumn]="field.field" [style.max-width.px]="field.width"
                [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
              {{field.headerTranslated}}
              <p-sortIcon [field]="field.field"></p-sortIcon>
            </th>
          }
        </tr>
        @if (hasFilter) {
          <tr>
            @for (field of fields; track field.field) {
              <th style="overflow:visible;">
                @switch (field.filterType) {
                  @case (FilterType.likeDataType) {
                    @switch (field.dataType) {
                      @case (DataType.DateString) {
                        <p-columnFilter [field]="field.field" [matchModeOptions]="customMatchModeOptions"
                                        [matchMode]="'gtNoFilter'"
                                        [showOperator]="true" display="menu">
                          <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <p-datepicker #cal (onInput)="filter(cal.value)" (onSelect)="filter($event)"
                                          [dateFormat]="baseLocale.dateFormat"
                                          [ngModel]="value">
                            </p-datepicker>
                          </ng-template>
                        </p-columnFilter>
                      }
                      @case (DataType.DateNumeric) {
                        <p-columnFilter [field]="field.field" [matchModeOptions]="customMatchModeOptions"
                                        [matchMode]="'gtNoFilter'"
                                        [showOperator]="true" display="menu">
                          <ng-template let-filter="filterCallback" let-value pTemplate="filter">
                            <p-datepicker #cal (onInput)="filter(cal.value)" (onSelect)="filter($event)"
                                          [dateFormat]="baseLocale.dateFormat"
                                          [ngModel]="value">
                            </p-datepicker>
                          </ng-template>
                        </p-columnFilter>
                      }
                      @case (DataType.Numeric) {
                        <p-columnFilter [field]="field.field" [locale]="formLocale"
                                        display="menu"
                                        minFractionDigits="2" type="numeric"></p-columnFilter>
                      }
                    }
                  }
                  @case (FilterType.withOptions) {
                    <p-select (onChange)="table.filter($event.value, field.field, 'equals')" [options]="field.filterValues"
                              [style]="{'width':'100%'}"></p-select>
                  }
                }
              </th>
            }
          </tr>
        }
      </ng-template>

      <ng-template #body let-columns="fields" let-el>
        <tr [pContextMenuRow]="el" [pSelectableRow]="el">
          @for (field of fields; track field.field) {
            @if (field.visible) {
              <td [ngClass]="(field.dataType===DataType.Numeric || field.dataType===DataType.DateTimeNumeric)? 'text-end': ''"
                  [style.max-width.px]="field.width"
                  [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
                @switch (field.templateName) {
                  @case ('greenRed') {
                    <span [pTooltip]="getValueByPath(el, field)"
                          [style.color]='isValueByPathMinus(el, field)? "red": "inherit"'
                          tooltipPosition="top">
                      {{getValueByPath(el, field)}}
                    </span>
                  }
                  @default {
                    <span [pTooltip]="getValueByPath(el, field)">{{getValueByPath(el, field)}}</span>
                  }
                }
              </td>
            }
          }
        </tr>
      </ng-template>
    </p-table>

    <p-contextMenu #cm [model]="contextMenuItems" [target]="cmDiv" appendTo="body">
    </p-contextMenu>

  </div>
</div>

@if (visibleSecurityTransactionDialog) {
  <transaction-security-edit (closeDialog)="handleCloseTransactionDialog($event)"
                             [transactionCallParam]="transactionCallParam"
                             [visibleSecurityTransactionDialog]="visibleSecurityTransactionDialog">
  </transaction-security-edit>
}

@if (visibleCashaccountTransactionSingleDialog) {
  <transaction-cashaccount-editsingle (closeDialog)="handleCloseTransactionDialog($event)"
                                      [transactionCallParam]="transactionCallParam"
                                      [visibleCashaccountTransactionSingleDialog]="visibleCashaccountTransactionSingleDialog">
  </transaction-cashaccount-editsingle>
}

@if (visibleCashaccountTransactionDoubleDialog) {
  <transaction-cashaccount-editdouble (closeDialog)="handleCloseTransactionDialog($event)"
                                      [transactionCallParam]="transactionCallParam"
                                      [visibleCashaccountTransactionDoubleDialog]="visibleCashaccountTransactionDoubleDialog">
  </transaction-cashaccount-editdouble>
}

@if (visibleConnectDebitCreditDialog) {
  <transaction-cashaccount-connect-debit-credit (closeDialog)="handleCloseTransactionDialog($event)"
                                                [transactionCallParam]="transactionCallParam"
                                                [visibleDialog]="visibleConnectDebitCreditDialog">
  </transaction-cashaccount-connect-debit-credit>
}
