<configurable-table
  [data]="transactionPositionList"
  [fields]="fields"
  [dataKey]="'transaction.idTransaction'"
  [(selection)]="pageFirstRowSelectedRow.selectedRow"
  [customSortFn]="customSort.bind(this)"
  [multiSortMeta]="multiSortMeta"
  [paginator]="true"
  [rows]="20"
  [firstRowIndex]="pageFirstRowSelectedRow.topPageRow"
  (rowSelect)="onRowSelect($event)"
  (rowUnselect)="onRowUnselect($event)"
  (pageChange)="onPage($event)"
  (componentClick)="onComponentClick($event)"
  [contextMenuItems]="contextMenuItems"
  [showContextMenu]="isActivated()"
  [containerClass]="{'data-container': true, 'active-border': isActivated(), 'passiv-border': !isActivated()}"
  [customClass]="'datatable nestedtable'"
  [scrollable]="false"
  [valueGetterFn]="getValueByPath.bind(this)"
  [negativeValueFn]="isValueByPathMinus.bind(this)"
  [contextMenuAppendTo]="'body'">
</configurable-table>

@if (visibleSecurityTransactionDialog) {
  <transaction-security-edit (closeDialog)="handleCloseTransactionDialog($event)"
                             [transactionCallParam]="transactionCallParam"
                             [visibleSecurityTransactionDialog]="visibleSecurityTransactionDialog">
  </transaction-security-edit>
}

@if (visibleStandingOrderSecurityDialog) {
  <standing-order-security-edit
    [visibleDialog]="visibleStandingOrderSecurityDialog"
    [callParam]="standingOrderCallParam"
    (closeDialog)="handleCloseStandingOrderDialog($event)">
  </standing-order-security-edit>
}
