<div #cmDiv (click)="onComponentClick($event)"
     [ngClass]="{'active-border': isActivated(), 'passiv-border': !isActivated()}"
     class="data-container">
  <div class="datatable nestedtable">
    <p-table (onPage)="onPage($event)" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
             (sortFunction)="customSort($event)" [(selection)]="pageFirstRowSelectedRow.selectedRow"
             [columns]="fields" [customSort]="true"
             [first]="pageFirstRowSelectedRow.topPageRow" [multiSortMeta]="multiSortMeta" [paginator]="true" [rows]="20"
             [value]="transactionPositionList" dataKey="transaction.idTransaction" selectionMode="single"
             sortMode="multiple"
             stripedRows showGridlines>
      <ng-template #header let-fields>
        <tr>
          @for (field of fields; track field.field) {
            <th [pSortableColumn]="field.field"
                [pTooltip]="field.headerTooltipTranslated" [style.max-width.px]="field.width"
                [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
              {{field.headerTranslated}}
              <p-sortIcon [field]="field.field"></p-sortIcon>
            </th>
          }
        </tr>
      </ng-template>
      <ng-template #body let-columns="fields" let-el>
        <tr [pContextMenuRow] [pSelectableRow]="el">
          @for (field of fields; track field.field) {
            @if (field.visible) {
              <td [ngClass]="(field.dataType===DataType.Numeric || field.dataType===DataType.DateTimeNumeric)? 'text-end': ''"
                  [style.max-width.px]="field.width"
                  [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
                @switch (field.templateName) {
                  @case ('check') {
                    <span><i [ngClass]="{'fa fa-check': getValueByPath(el, field)}" aria-hidden="true"></i></span>
                  }
                  @case ('greenRed') {
                    <span [pTooltip]="getValueByPath(el, field)"
                          [style.color]='isValueByPathMinus(el, field)? "red": "inherit"'
                          tooltipPosition="top">
                      {{getValueByPath(el, field)}}
                    </span>
                  }
                  @default {
                    <span [pTooltip]="getValueByPath(el, field)">{{getValueByPath(el, field)}}</span>
                  }
                }
              </td>
            }
          }
        </tr>
      </ng-template>
    </p-table>
  </div>
  <p-contextMenu #cm [model]="contextMenuItems" [target]="cmDiv" appendTo="body">
  </p-contextMenu>

  @if (visibleSecurityTransactionDialog) {
    <transaction-security-edit (closeDialog)="handleCloseTransactionDialog($event)"
                               [transactionCallParam]="transactionCallParam"
                               [visibleSecurityTransactionDialog]="visibleSecurityTransactionDialog">
    </transaction-security-edit>
  }
</div>
