<configurable-table
  [data]="cashaccountTransactionPositions"
  [fields]="fields"
  [dataKey]="'idTransaction'"
  [(selection)]="pageFirstRowSelectedRow.selectedRow"
  [customSortFn]="customSort.bind(this)"
  [multiSortMeta]="multiSortMeta"
  [paginator]="true"
  [rows]="50"
  [rowsPerPageOptions]="[20,30,50,100]"
  [firstRowIndex]="pageFirstRowSelectedRow.topPageRow"
  (rowSelect)="onRowSelect($event)"
  (rowUnselect)="onRowUnselect($event)"
  (pageChange)="onPage($event)"
  (componentClick)="onComponentClick($event)"
  [contextMenuItems]="contextMenuItems"
  [showContextMenu]="isActivated()"
  [containerClass]="{'data-container': true, 'active-border': isActivated(), 'passiv-border': !isActivated()}"
  [customClass]="'datatable nestedtable'"
  [hasFilter]="hasFilter"
  [customMatchModeOptions]="customMatchModeOptions"
  [baseLocale]="baseLocale"
  [formLocale]="formLocale"
  [scrollable]="false"
  [valueGetterFn]="getValueByPath.bind(this)"
  [negativeValueFn]="isValueByPathMinus.bind(this)"
  [contextMenuAppendTo]="'body'">
</configurable-table>

@if (visibleSecurityTransactionDialog) {
  <transaction-security-edit (closeDialog)="handleCloseTransactionDialog($event)"
                             [transactionCallParam]="transactionCallParam"
                             [visibleSecurityTransactionDialog]="visibleSecurityTransactionDialog">
  </transaction-security-edit>
}

@if (visibleCashaccountTransactionSingleDialog) {
  <transaction-cashaccount-editsingle (closeDialog)="handleCloseTransactionDialog($event)"
                                      [transactionCallParam]="transactionCallParam"
                                      [visibleCashaccountTransactionSingleDialog]="visibleCashaccountTransactionSingleDialog">
  </transaction-cashaccount-editsingle>
}

@if (visibleCashaccountTransactionDoubleDialog) {
  <transaction-cashaccount-editdouble (closeDialog)="handleCloseTransactionDialog($event)"
                                      [transactionCallParam]="transactionCallParam"
                                      [visibleCashaccountTransactionDoubleDialog]="visibleCashaccountTransactionDoubleDialog">
  </transaction-cashaccount-editdouble>
}

@if (visibleConnectDebitCreditDialog) {
  <transaction-cashaccount-connect-debit-credit (closeDialog)="handleCloseTransactionDialog($event)"
                                                [transactionCallParam]="transactionCallParam"
                                                [visibleDialog]="visibleConnectDebitCreditDialog">
  </transaction-cashaccount-connect-debit-credit>
}

@if (visibleStandingOrderCashaccountDialog) {
  <standing-order-cashaccount-edit
    [visibleDialog]="visibleStandingOrderCashaccountDialog"
    [callParam]="standingOrderCallParam"
    (closeDialog)="handleCloseStandingOrderDialog($event)">
  </standing-order-cashaccount-edit>
}

@if (visibleStandingOrderSecurityDialog) {
  <standing-order-security-edit
    [visibleDialog]="visibleStandingOrderSecurityDialog"
    [callParam]="standingOrderCallParam"
    (closeDialog)="handleCloseStandingOrderDialog($event)">
  </standing-order-security-edit>
}
