<div class="fcontainer">
  @for (fieldSetName of Object.keys(fieldSetGroups); track fieldSetName) {
    <fieldset class="out-border fbox">
      <legend class="out-border-legend">{{fieldSetName | translate}}</legend>
      @for (field of fieldSetGroups[fieldSetName]; track field) {
        <div class="row">
          @if (field.headerTranslated !=='null') {
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 showlabel text-end">
              {{field.headerTranslated}}:
            </div>
          }
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 nopadding wrap">
            @switch (field.templateName) {
              @case ('check') {
                <span><i [ngClass]="{'fa fa-check': getValueByPath(combineTemplateAndImpTransPos, field)}"
                         aria-hidden="true"></i></span>
              }
              @case ('icon') {
                <svg-icon [name]="getValueByPath(combineTemplateAndImpTransPos, field)"
                          [svgStyle]="{ 'width.px':16, 'height.px':16 }"></svg-icon>
              }
              @default {
                {{getValueByPath(combineTemplateAndImpTransPos, field)}}
              }
            }
          </div>
        </div>
      }
    </fieldset>
  }
</div>
