<div (click)="onComponentClick($event)" [ngClass]="{'active-border': isActivated(), 'passiv-border': !isActivated()}"
     class="data-container">
  <div class="datatable">
    <p-table [(selection)]="securityDividendsGrandTotalSelected" [columns]="fields" [multiSortMeta]="multiSortMeta"
             [paginator]="true" [rows]="30" [value]="securityDividendsYearGroup"
             dataKey="year" selectionMode="single" sortMode="multiple"
             stripedRows showGridlines>
      <ng-template #caption>
        @if (securityDividendsGrandTotal) {
          <h4 [translateParams]="{select: selectedSecurityAccounts, total: totalSecurityAccounts}"
              [translate]="'PORTFOLIO_DIVIDENDS_YEAR'"></h4>
          <h4 [translateParams]="{select: selectedCashAccounts, total: totalCashAccounts}"
              [translate]="'PORTFOLIO_INTEREST_YEAR'"></h4>
        }
      </ng-template>

      <ng-template #header let-fields>
        <tr>
          <th style="width:24px"></th>
          @for (field of fields; track field) {
            <th [pSortableColumn]="field.field" [style.max-width.px]="field.width"
                [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}"
                [pTooltip]="field.headerTooltipTranslated">
              {{ field.headerTranslated }}
              <p-sortIcon [field]="field.field"></p-sortIcon>
            </th>
          }
        </tr>
      </ng-template>

      <ng-template #body let-columns="fields" let-el let-expanded="expanded">
        <tr [pContextMenuRow]="el" [pSelectableRow]="el">
          <td>
            <a [pRowToggler]="el" href="#">
              <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
            </a>
          </td>
          @for (field of fields; track field) {
            @if (field.visible) {
              <td [ngClass]="(field.dataType===DataType.Numeric || field.dataType===DataType.DateTimeNumeric
                  || field.dataType===DataType.NumericInteger)? 'text-end': ''"
                  [style.max-width.px]="field.width"
                  [ngStyle]="field.width? {'flex-basis': '0 0 ' + field.width + 'px'}: {}">
                {{ getValueByPath(el, field) }}
              </td>
            }
          }
        </tr>
      </ng-template>

      <ng-template pTemplate="footer">
        <tr>
          <td></td>
          @for (field of fields; track field) {
            @if (field.visible) {
              <td [ngClass]="(field.dataType===DataType.Numeric || field.dataType===DataType.DateTimeNumeric
                  || field.dataType===DataType.NumericInteger)? 'text-end': ''" [style.width.px]="field.width"
                  class="row-total">
                {{ getValueColumnTotal(field, 0, securityDividendsGrandTotal, null) }}
              </td>
            }
          }
        </tr>
      </ng-template>

      <ng-template let-columns="fields" let-sDYG #expandedrow>
        <tr>
          <td [attr.colspan]="numberOfVisibleColumns + 1">
            <tenant-dividends-security-extended
              (dateChanged)="transactionDataChanged($event)"
              [idsSecurityaccount]="idsAccounts.idsSecurityaccount"
              [securityDividendsGrandTotal]="securityDividendsGrandTotal"
              [securityDividendsPositions]="sDYG.securityDividendsPositions">
            </tenant-dividends-security-extended>
          </td>
        </tr>
        <tr>
          <td [attr.colspan]="numberOfVisibleColumns + 1">
            <tenant-dividends-cashaccount-extended
              (dateChanged)="transactionDataChanged($event)"
              [securityDividendsGrandTotal]="securityDividendsGrandTotal"
              [year]="sDYG.year"
              [cashAccountPositions]="sDYG.cashAccountPositions">
            </tenant-dividends-cashaccount-extended>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

@if (visibleSecurityaccountDialog) {
  <tenant-dividend-security-account-selection-dialog (closeDialog)="handleOnProcessedDialog($event)"
                                                     [idsAccounts]="idsAccounts"
                                                     [portfolios]="securityDividendsGrandTotal.portfolioList"
                                                     [visibleDialog]="visibleSecurityaccountDialog">
  </tenant-dividend-security-account-selection-dialog>
}
